@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans bg-light text-dark;
}

@keyframes fade-in-down {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fade-in-down 1s ease-out forwards;
}

.footer {
  background-color: #4a5568;
  color: white;
  padding: 1.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  -webkit-user-select: none; /* Prevent text selection */
  user-select: none; /* Prevent text selection */
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.footer-text {
  font-size: 1.125rem;
}

.footer-icons {
  display: flex;
  gap: 2rem;
}

.footer-icon {
  font-size: 2rem; 
  color: white;
  transition: color 0.3s ease, transform 0.3s ease;
}

.footer-icon:hover {
  color: #38a169;
  transform: scale(1.2) rotate(10deg);
}

.footer-icon:active {
  transform: scale(1) rotate(0deg);
}
